@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$first: #eebe6c;
$second: #ca7c4e; /* #fca559, #4ec6ca */

$brown: #786450; /* text color */

@function to-string($value) {
  @return inspect($value);
}

.frame {
  position: absolute; /* GOOD */
  top: 50%; /* GOOD */
  left: 50%; /* GOOD */
  width: 400px; /* GOOD */
  height: 400px; /* GOOD */
  margin-left: -200px; /* GOOD */
  margin-top: -200px; /* GOOD */
  background: $second;
  border-radius: 2px; /* GOOD */
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3); /* GOOD */
  background: -webkit-linear-gradient(bottom left, $first 0%, $second 100%); /* GOOD */
  background: -moz-linear-gradient(bottom left, $first 0%, $second 100%); /* GOOD */
  background: -o-linear-gradient(bottom left, $first 0%, $second 100%); /* GOOD */
  background: linear-gradient(to top right, $first 0%, $second 100%); /* GOOD */
  /* B/c I opted to use variables for the colors, I had to add a function for converting the color variables to strings for this property to work (I'm guessing it works...) */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=to-string($first), endColorstr=to-string($second),GradientType=1 );
  font-family: 'Open Sans', Helvetica, sans-serif;

  color: $brown;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute; /* GOOD */
  background: #fff; /* GOOD */
  width: 330px; /* Solution: width: 320px; */
  height: 300px; /* Solution: height: 299px; */
  margin-top: 50px; /* Solution: top: 50px; */
  margin-left: 35px; /* Solution: left: 40px; */
  border-radius: 3px; /* GOOD */
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3); /* GOOD */
  /* Solution */
  overflow: hidden;
}

.profile {
  /*width: 100px;
  padding: 50px; */
  text-align: center; /* GOOD */
  height: 300px; /* Solution: height: 320px; (same height as 'center') */
  /* Solution */
  float: left;
  width: 200px;

  .image {
    /* Solution */
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;

    .circle-1 {
      position: absolute;
      box-sizing: border-box; /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */
      width: 76px;
      height: 76px;
      top: -3px;
      left: -3px;
      border-width: 1px;
      border-style: solid;
      border-color: $brown $brown $brown transparent; /* Applies color on all sides except left */
      border-radius: 50%; /* Makes border circular */
      transition: all 1.5s ease-in-out; /* How quickly border will move */
    }

    .circle-2 {
      position: absolute;
      /*width: 80px;
      height: 80px;*/
      top: -6px; /* GOOD */
      left: -6px; /* GOOD */
      border-width: 1px;
      border-style: solid;
      border-color: $brown transparent $brown $brown; /* GOOD */
      border-radius: 50%;
      transition: all 1.5s ease-in-out;

      /* Solution */
      width: 82px;
      height: 82px;
      @extend .circle-1;
    }

    img {
      /*clip-path: circle(90px at 35px 35px);*/
      /* Solution */
      display: block;
      border-radius: 50%;
      background: #f5e8df;
    }

    &:hover {
      cursor: pointer;

      .circle-1 {
        transform: rotate(360deg);
      }

      .circle-2 {
        transform: rotate(-360deg); /* GOOD -- YES! */
      }
    }
  }

  .name {
    position: relative;
    /*top: 20px;*/
    /*font-weight: 700;*/
    font-size: 14px; /* Solution: 15px */
    line-height: 12px;

    /* Solution */
    font-weight: 600;
    margin-top: 20px;
  }

  .job {
    font-size: 12px; /* Solution: 11px */
    position: relative;
    /*top: 20px;*/

    /* Solution */
    line-height: 15px;
  }

  .actions {
    margin-top: 33px;

    .btn {
      display: block;
      width: 120px; /* GOOD */
      height: 30px; /* GOOD */
      /* margin: 10px auto;*/ /* Close! */
      /* background: #fff; */
      border: 1px solid $brown; /* GOOD */
      border-radius: 15px; /* GOOD */
      color: $brown; /* GOOD */
      font-family: Helvetica, sans-serif;
      /*font-weight: 700;*/ /* Close! */
      font-size: 12px; /* GOOD */

      /* Solution */
      margin: 0px auto 10px auto;
      background: none;
      font-weight: 600;
      transition: all .3s ease-in-out;
      box-sizing: border-box;

      &:hover {
        background: $brown;
        color: #fff;
      }
    }
  }
}

