@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

$blue: #5F98CD;
$blue-dark: #264057;
$blue-light: #B2DAFF;

.frame {
  position: absolute; /* GOOD */
  border-radius: 2px; /* GOOD */
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3); /* GOOD */
  width: 400px; /* GOOD */
  height: 400px; /* GOOD */
  top: 50%; /* GOOD */
  left: 50%; /* GOOD */
  margin-left: -200px; /* GOOD */
  margin-top: -200px; /* GOOD */
  background: $blue-dark; /* GOOD */

  /* Solution */
  color: #666666;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.center { /* Solution has this as class 'panel' */
  background: #fff; /* GOOD */
  border-radius: 2px; /* Solution: 3px */
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3); /* GOOD */
  width: 300px; /* GOOD */
  height: 300px; /* GOOD */
  position: absolute; /* GOOD */
  /*margin-top: 50px;
  margin-left: 50px;*/

  /* Solution */
  z-index: 2;
  top: 50px;
  left: 50px;
  transition: all .5s ease-in-out;

  &.show-menu {
    transform: translate3d(150px, 0, 0);
  }

  .header {
    width: 100%; /* GOOD */
    border-radius: 2px;
    height: 60px; /* GOOD */
    background: $blue; /* GOOD */
    color: #fff;
    /*text-align: center;*/

    .menu-icon {
      width: 29px;
      display: inline;

      /* Solution */
      position: absolute;
      height: 15px;
      top: 23px;
      left: 20px;
      cursor: pointer;

      &:hover {
        .dash-top,
        .dash-bottom,
        .circle {
          background: #fff;
        }
      }

      .dash-top {
        /* height: 5px; */
        /* width: 75%; */

        /* Solution */
        position: absolute;
        height: 3px;
        width: 20px;
        top: 0;
        left: 0;
        background: $blue-light;
        border-radius: 3px;
        transition: all .2s ease-in-out;
      }

      .dash-bottom {
        /*position: absolute;
        height: 3px;*/
        width: 25px; /* Solution: 29px */
        /*background: $blue-light;
        border-radius: 3px;*/
        /*top: 10px;*/
        /*left: 0;
        transition: all .2s ease-in-out;*/

        /* Solution */
        @extend .dash-top;
        top: auto;
        bottom: 0;
      }

      .circle {
        position: absolute; /* GOOD */
        /*height: 6px;
        width: 6px;
        border-radius: 3px;*/
        background: $blue-light; /* GOOD */
        /*margin-top: -2px;*/
        right: 0; /* GOOD */
        transition: all .2s ease-in-out; /* GOOD */

        /* Solution */
        height: 7px;
        width: 7px;
        border-radius: 4px;
        top: -2px;
      }
    }

    .title { /* Solution */
      display: block;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
    }

    .search-input {
      box-sizing: border-box;
      position: absolute;
      top: 13px;
      right: 55px;
      width: 230px;
      height: 34px; /* GOOD */
      border-radius: 17px; /* GOOD */
      border: none;
      background: #fff;
      padding: 0 17px;
      font-size: 13px;
      color: #666;
      transition: all .3s ease-in-out;
      transform: translateX(15px);
      opacity: 0;
      pointer-events: none; /* The pointer-events property defines whether or not an element reacts to pointer events. */

      &:focus {
        outline: none;
      }

      &.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
      }
    }

    .search-icon {
      position: absolute;
      z-index: 2;
      font-size: 21px;
      color: $blue-light;
      top: 18px;
      right: 20px;
      transition: all .3s ease;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }


}

