

$background-blue: #0c5063;

.frame {
  position: absolute;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background: $background-blue;
}

.center {
  background: #fff;
  border-radius: 2px;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

